<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130612716090-586nurdak3dsobpeho1seo1t5l7fpisc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130612716090-586nurdak3dsobpeho1seo1t5l7fpisc</string>
	<key>API_KEY</key>
	<string>AIzaSyBX5yhOPiAP8pLN293REAJ9m_5zingBVO4</string>
	<key>GCM_SENDER_ID</key>
	<string>130612716090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.gromovitaly.MusicHistory</string>
	<key>PROJECT_ID</key>
	<string>music-history-703ad</string>
	<key>STORAGE_BUCKET</key>
	<string>music-history-703ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130612716090:ios:ac54971feac42c566c0b03</string>
</dict>
</plist>